@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400,700&display=swap');

/*  
// MOBILE FIRST APPROACH - GENERAL STYLE FIRST
*/

/* MAIN STYLESHEET */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;   
    font: 400 15px 'Montserrat', serif, sans-serif;
}

h1, h2, h3, h4, h5, h6 {    
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: 10px 0;
}

p {
    font-family: 'Montserrat', serif, sans-serif;     
    margin: 10px 0;     
    line-height: 1.5em;
    font-size: 1.2em;
}

.content-width {
    max-width: 960px;
    margin: 0 auto;
}

.mession-in-paragraph {
    font-weight: bold;
    color: #326AE0;
    font-style: italic;
}

/* HEADER */
header {
    font-size: 1.2em;    
    background: #01B6D1;
	background: -webkit-linear-gradient(to left, #4580FF, #2155C4);
	background: linear-gradient(to left, #4580FF, #2155C4);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0; 
}

header nav {
    padding: 0 10px;
}

header nav a {
    text-decoration: none;
    color: #fff;
}

header nav ul {
    list-style: none; 
}

#top-header {
    background-color: rgba(17, 76, 154, 0.4);
    height: 36px;
    
}

#top-header ul {
    float: right;
    font-size: 1em;
    line-height: 36px;
}

#main-navigation {
    height: 70px;
    line-height: 70px;
}

#main-navigation ul{
    float: right;     
    display: flex;
    justify-content: space-between;
}

#main-navigation ul li{
    margin: 0 0 0 5px;
}

#logo-ul-holder {
    display: flex;
    justify-content: space-between;
}

#logo {
    font-family: Helvetica, sans-serif;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    margin: 0;    
    line-height: 2.5em;
}

#logo span {    
    font-weight: bold;
    font-style: italic;
}

header nav a:hover {
    color: rgb(165, 165, 165); 
    transition: all 300ms;
}

/* FOOTER */

footer {
    background: #01B6D1;
	background: -webkit-linear-gradient(to left, #4580FF, #2155C4);
	background: linear-gradient(to left, #4580FF, #2155C4);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
    color: #fff;    
    min-height: 10vh;
    line-height: 10vh;
    text-align: center;
}

footer p {
    font-size: 1em;
    padding-top: 30px;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    color: rgba(191, 43, 82, 1);
    text-decoration: underline;
}


main {
    background-color: #ffffff;
    min-height: 80vh;      
}

main section {
    padding: 10px 10px;
}

/* SEARCH BOX */

.top-banner {
    width: 100%;
    height: auto;
}

.top-banner img {
    width: 100%;
    height: auto;
}

.welcome-message {

}

.search-box {
    margin: 20px auto;
}

.search-box form {
    font-size: 1.2em;
    width: 90%;    
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.search-box form input[type="text"] {
    margin-bottom: 20px;
    height: 50px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.2em;
}

.search-box form select {
    margin-bottom: 20px;
    height: 50px;
    padding: 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.2em;   
}

.search-box form input[type="submit"] {
    margin-bottom: 20px;
    height: 50px;    
    border-radius: 4px;
    background-color: #326AE0;
    color: #fff;
    font-size: 1.2em;    
}

.search-box form input[type="submit"]:hover {
    background-color: rgba(50, 105, 224, 0.95); 
    cursor: pointer;   
    transition: all 200ms;
}

.missionary-information-div:nth-of-type(1) {
    margin-top: 50px;
}

.missionary-information-div {
    margin: 30px 0;
    line-height: 1.5em;
}

.missionary-information-div h4 {
    margin-bottom: 10px;
}

.missionary-information-div span {
    font-weight: bold;
}

.missionary-information-div p {
    font-size: 1em;
    line-height: 1.2em;
}


/****************
* Add info page *
*****************/

.add-info-form {
    color: rgb(70, 70, 70);
    margin-bottom: 50px;
}

.add-info-form input {
        background-color: rgb(245, 247, 252);
        border: none;
        padding: 12px 15px;
        margin: 5px 0;
        width: 100%;   
        border-radius: 5px;
}

.add-info-form label {
    display: inline-block;
    padding-left: 5px;
    margin-top: 5px;
}

.add-info-form button {
    margin: 10px 0;
    padding: 15px 30px;
    height: 50px;    
    border-radius: 4px;
    background-color: #326AE0;
    color: #fff;
    font-size: 1.2em;    
    float: right;    
}

.add-info-form button:hover {
    background-color: rgba(50, 105, 224, 0.95); 
    cursor: pointer;   
    transition: all 200ms;
}

.add-info-form .form-help-paragraph {
    font-size: smaller;
    font-style: italic;
    margin-top: -5px;
}

.add-info-form form {
    margin: 30px auto;
}

.add-info-form fieldset {
    margin: 20px 0;
    border: 1px solid rgb(170, 170, 170);
    padding: 0 20px 20px 20px;
    border-radius: 10px;
}

.add-info-form legend {
    padding: 20px;
} 




/*  
// MEDIUM SCREENS - MEDIA QUERY BREAK
*/
@media (min-width:600px) {

    main section {
        padding: 30px 10px;
    }
    

    #logo {
        font-size: 3em;
        line-height: 1.3em;
    }

    #main-navigation ul{
        width: 30%;
    }

    .search-box {
        margin: 50px 0;
    }

    .search-box form {
        width: 100%;
        flex-direction: row;        
        justify-content: space-between;   
        align-items: flex-end;
    }
    
    .search-box form input[type="text"] {
        width: 60%;
    }
    
    .search-box form select {
        width: 20%;
    }
    
    .search-box form input[type="submit"] {
        width: 15%;  
    }

    footer p {
        padding-top: 40px;
    }

}

/*  
// BIG SCREENS - MEDIA QUERY BREAK
*/
@media (min-width:1025px) {     

}